<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857402905955-6706ogpntkqhr9deblo87up3vrdjnaeg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857402905955-6706ogpntkqhr9deblo87up3vrdjnaeg</string>
	<key>API_KEY</key>
	<string>AIzaSyA3IrGsoymHHCbHuDCwE3nj7UdzSPc9HiM</string>
	<key>GCM_SENDER_ID</key>
	<string>857402905955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.samueldoes.message.messages</string>
	<key>PROJECT_ID</key>
	<string>chat-24ce7</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-24ce7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857402905955:ios:9e4f81f9a93786ee732f56</string>
</dict>
</plist>